<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maga.az/test</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maga.az</MSDeployServiceURL>
    <DeployIisAppPath>maga.az/test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>paPlesk</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ModelPAX" Order="1" Enabled="False">
          <Destination Path="Data Source=184.168.194.53;Initial Catalog=paAzeri;User ID=paAzeri;Password=s5Wfg9#5" Name="Data Source=184.168.194.53;Initial Catalog=paAzeri;User ID=paAzeri;Password=s5Wfg9#5;MultipleActiveResultSets=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PA.Data.Models.PAX.ModelPAX, PA.Data.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PA.Data.Models.ModelPA" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PA.Data.Models.ModelPA, PA.Data.Models" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ModelPAX-Web.config Connection String">
      <ParameterValue>Data Source=184.168.194.53;Initial Catalog=paAzeri;User ID=paAzeri;Password=s5Wfg9#5;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PA.Data.Models.ModelPA-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PA.Data.Models.ModelPA" />
  </ItemGroup>
  <ItemGroup>
    <ExcludeFromPackageFolders Include="Content">
      <FromTarget>*</FromTarget>
    </ExcludeFromPackageFolders>
  </ItemGroup>
  <ItemGroup>
    <ExcludeFromPackageFolders Include="Scripts">
      <FromTarget>*</FromTarget>
    </ExcludeFromPackageFolders>
  </ItemGroup>
</Project>