@font-face {
    font-family: 'JISAZN';
    src: url('/content/fonts/jaznr.eot');
    src: url('/content/fonts/jaznr.eot?#iefix') format('embedded-opentype'), url('/content/fonts/jaznr.woff') format('woff'), url('/content/fonts/jaznr.ttf') format('truetype'), url('/content/fonts/jaznr.svg#jaznr') format('svg');
    font-weight: normal;
    font-style: normal;
}

.manat {
    font-family: 'JISAZN';
    font-style: normal;
}
