@{
    Layout = null;
}


<div class="row row-banner">
    <div class="col-ts-12 col-xs-6 col-sm-6">
        <div class="banner banner-effect1">
            <a href=""><img src="/Content/images/banner1.jpg" alt=""></a>
        </div>
    </div>
    <div class="col-ts-12 col-xs-6 col-sm-6">
        <div class="banner banner-effect1">
            <a href=""><img src="/Content/images/banner2.jpg" alt=""></a>
        </div>
    </div>
</div>