@{
    Layout = null;
}

<div class="col-lg-7 col-md-5 col-sm-8 col-xs-8 col-ts-12 middle-content" style="padding-top:5px;">
    <div class="search-form layout2 box-has-content">
        <div class="search-block">
            <div class="search-choice parent-content">
               @{Html.RenderAction("GetCategories");}
            </div>
            <div class="search-inner">
                <input type="text" class="search-info" placeholder="Searh entire store here...">
            </div>
            <a href="#" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
