@{
    Layout = null;
}


<div class="main-slideshow slideshow1">
    <div class="owl-carousel nav-style1" data-autoplay="true" data-nav="true" data-dots="false" data-loop="true" data-slidespeed="800" data-margin="30" data-responsive='{"0":{"items":1}, "640":{"items":1}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}'>
        <div class="slide-item item1">
            <img src="/Content/images/slide1.jpg" alt="">
            <div class="slide-content">
                <h5 class="subtitle">up to <span class="text-main-color">60% off</span> </h5>
                <h3 class="title">Smart Watchs</h3>
                <h5 class="smalltitle">Only: <span> $226.00</span></h5>
                <a href="" class="button">Shop Now</a>
            </div>
        </div>
        <div class="slide-item item2">
            <img src="/Content/images/slide2.jpg" alt="">
            <div class="slide-content">
                <h3 class="title"><span>Sales</span> & Sevice of Laptop</h3>
                <h4 class="subtitle">up to <span class="text-main-color"> 50% off</span></h4>
                <h5 class="smalltitle">Only: <span> $268.00</span></h5>
                <a href="" class="button">Shop Now</a>
            </div>
        </div>
        <div class="slide-item item3">
            <img src="/Content/images/slide3.jpg" alt="">
            <div class="slide-content">
                <h4 class="subtitle text-main-color">Up to 50% Off</h4>
                <h3 class="title">Gear VR 3D.</h3>
                <h5 class="smalltitle">Virtual reality through a new lens</h5>
                <a href="" class="button">Shop Now</a>
            </div>
        </div>
    </div>
</div>